/* Tarjeta centrada */
.detalle-card {
    width: 420px;
    background: #ffffff;
    padding: 25px;
    margin: 20px auto;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.detalle-card h2 {
    color: #2f6c32;
    text-align: center;
    margin-bottom: 10px;
}

.detalle-card p {
    font-size: 16px;
}

/* BOTÓN VOLVER */
.btn-volver {
    background: #2f6c32;
    color: white;
    border: none;
    padding: 12px 18px;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    font-size: 15px;
}

.btn-volver:hover {
    background: #245026;
}
