/* CENTRAR CONTENIDO */
.content-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* TARJETA PERFIL */
.perfil-card {
    width: 420px;
    background: #fff;
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 12px;
    text-align: center;
    margin-top: 20px;
}

.perfil-foto {
    width: 90px;
    height: 90px;
    margin-bottom: 12px;
}

.perfil-nombre {
    color: #2f6c32;
    margin-bottom: 10px;
}

/* BOTONES */
.perfil-botones {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn-editar,
.btn-contra {
    padding: 10px 15px;
    border: none;
    background: #2f6c32;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.btn-contra {
    background: #444;
}

.btn-editar:hover {
    background: #255527;
}

.btn-contra:hover {
    background: #222;
}

/* FOOTER */
.logo-footer {
    position: absolute;
    bottom: 20px;
    right: 25px;
    font-weight: bold;
}
