.confirm-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.confirm-box {
    background: white;
    width: 380px;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 8px rgba(0,0,0,0.15);
}

.icono {
    width: 80px;
    margin-bottom: 15px;
}

h2 {
    margin-bottom: 10px;
    color: #2f6c32;
}

p {
    margin-bottom: 20px;
    color: #333;
}

/* BOTONES */
.botones {
    display: flex;
    justify-content: space-between;
}

.btn-cancelar,
.btn-salir {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
}

.btn-cancelar {
    background: #777;
}

.btn-cancelar:hover {
    background: #555;
}

.btn-salir {
    background: #2f6c32;
}

.btn-salir:hover {
    background: #244e28;
}
